@media only screen and (min-width: 1025px) {
  body {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

a { cursor: pointer; }

.app-container {
    min-height: 350px;
}

.container {
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .subTitle {
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;
  }
  
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 300px;
    margin-top: rem;
  }

  .gridItem {
    margin: 1rem;
    display: inline;
    flex-basis: 45%;
    padding: 3.0rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 30px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

  .gridItem p {
    margin: 0;
    font-size: 1.35rem;
    line-height: 1.5;
    text-align: center;
  }
